<!DOCTYPE html>
<html>
    <head>
        <title>List Book</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>List Book</h1>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Author</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% books.forEach((book, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= book.name %></td>
                                <td><%= book.description %></td>
                                <td><%= book.author %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>